---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

const page = await getEntry("pages", "about");
if (!page) {
    throw new Error("About page not found");
}
const { Content } = await page.render();
---

<Layout
    title={page.data.title}
    description={page.data.description || "About Me"}
>
    <div class="max-w-[800px] mx-auto">
        <h1 class="text-3xl font-sans font-bold mb-8">{page.data.title}</h1>
        <div
            class="prose prose-lg max-w-none text-zinc-700
            [&_h2]:font-serif [&_h2]:font-bold [&_h2]:text-black [&_h2]:text-[30px] [&_h2]:mt-10 [&_h2]:mb-6
            [&_h3]:font-sans [&_h3]:font-bold [&_h3]:text-black [&_h3]:text-[24px] [&_h3]:mt-10 [&_h3]:mb-4
            [&_h4]:font-sans [&_h4]:font-bold [&_h4]:text-black [&_h4]:text-[20px] [&_h4]:mt-8 [&_h4]:mb-4
            [&_p]:font-sans [&_p]:text-[1.125rem] [&_p]:leading-[1.7777778] [&_p]:text-zinc-800 [&_p]:my-[1em]
            [&_a]:underline [&_a]:decoration-zinc-400 [&_a]:transition-all
            [&_li]:text-[1.125rem] [&_li]:leading-[1.7777778] [&_li]:text-zinc-800 [&_li]:mb-2
            [&_ol]:list-decimal [&_ol]:pl-6 [&_ol]:mb-6
            [&_ul]:list-disc [&_ul]:pl-6 [&_ul]:mb-6"
        >
            <Content />
        </div>
    </div>
</Layout>
