---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

const page = await getEntry("pages", "workshops");
if (!page) {
    throw new Error("Workshops page not found");
}
const { Content } = await page.render();
---

<Layout
    title={page.data.title}
    description={page.data.description || "Workshops"}
>
    <div class="max-w-[800px] mx-auto">
        <h1 class="text-3xl font-sans font-bold mb-8">{page.data.title}</h1>
        <div
            class="prose prose-lg max-w-none text-zinc-700
            [&_h2]:font-serif [&_h2]:font-bold [&_h2]:text-black [&_h2]:text-[30px] [&_h2]:mt-10 [&_h2]:mb-6
            [&_h3]:font-sans [&_h3]:font-bold [&_h3]:text-black [&_h3]:text-[24px] [&_h3]:mt-10 [&_h3]:mb-4
            [&_h4]:font-sans [&_h4]:font-bold [&_h4]:text-black [&_h4]:text-[20px] [&_h4]:mt-8 [&_h4]:mb-4
            [&_p]:font-sans [&_p]:text-[1.125rem] [&_p]:leading-[1.7777778] [&_p]:text-zinc-800 [&_p]:my-[1em]
            [&_a]:underline [&_a]:decoration-zinc-400 [&_a]:transition-all
            [&_li]:text-[1.125rem] [&_li]:leading-[1.7777778] [&_li]:text-zinc-800 [&_li]:mb-2
            [&_ol]:list-decimal [&_ol]:pl-6 [&_ol]:mb-6
            [&_ul]:list-disc [&_ul]:pl-6 [&_ul]:mb-6
            [&_blockquote]:relative [&_blockquote]:bg-zinc-100 [&_blockquote]:text-zinc-700 [&_blockquote]:p-8 [&_blockquote]:rounded-2xl [&_blockquote]:my-10 [&_blockquote]:not-italic [&_blockquote]:text-[1.1rem] [&_blockquote]:leading-relaxed [&_blockquote]:ml-24
            [&_blockquote::before]:content-[''] [&_blockquote::before]:absolute [&_blockquote::before]:top-8 [&_blockquote::before]:-left-3 [&_blockquote::before]:border-t-[12px] [&_blockquote::before]:border-t-transparent [&_blockquote::before]:border-b-[12px] [&_blockquote::before]:border-b-transparent [&_blockquote::before]:border-r-[16px] [&_blockquote::before]:border-r-zinc-100
            [&_blockquote::after]:content-[''] [&_blockquote::after]:absolute [&_blockquote::after]:-left-32 [&_blockquote::after]:-top-2 [&_blockquote::after]:w-28 [&_blockquote::after]:h-28 [&_blockquote::after]:bg-[url('/avatar.png')] [&_blockquote::after]:bg-contain [&_blockquote::after]:bg-no-repeat [&_blockquote::after]:bg-center [&_blockquote::after]:rounded-full [&_blockquote::after]:border-4 [&_blockquote::after]:border-white [&_blockquote::after]:shadow-md"
        >
            <Content />
        </div>
    </div>
</Layout>
