---
interface Props {
    headings: {
        depth: number;
        slug: string;
        text: string;
    }[];
}

const { headings } = Astro.props;
---

<ul class="space-y-3 list-none m-0 p-0 text-zinc-600">
    {
        headings.map((heading) => {
            let indentClass = "";
            if (heading.depth === 3) indentClass = "ml-4";
            if (heading.depth === 4) indentClass = "ml-8";
            if (heading.depth > 4) indentClass = "ml-10";

            return (
                <li
                    class={`flex gap-3 items-start text-[15px] leading-[24px] ${indentClass}`}
                >
                    <a
                        href={`#${heading.slug}`}
                        class="hover:text-accent-600 hover:translate-x-1 transition-all duration-200 ease-in-out"
                    >
                        {heading.text}
                    </a>
                </li>
            );
        })
    }
</ul>
